{% extends "_layout.html" %}

{%- block title -%}
    Movies
{%- endblock -%}

{%- block content -%}
    <h1>
        Movies
    </h1>

    <div class="pure-g">
        {% for movie in movies %}
            <div class="pure-u-1 pure-u-md-1-4" style="padding: 10px;">
                <a href="/movies/{{ movie.id }}" style="text-decoration: none; color: inherit; display: block; text-align: center;">
                    <img src="https://placehold.co/200x300" alt="{{ movie.title }}" style="border-radius: 4px;">
                    <div style="margin-top: 8px; font-weight: bold;">{{ movie.title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{%- endblock -%}
